<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Merlin HTML/CSS template">
    <meta name="author" content="Hasan Alibegic">
    <link rel="shortcut icon" href="/mysite/public/static/picshakesite/assets/ico/favicon.png">
    <title> PicShake - Photo Sharing Just Got Easier</title>
    <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,600">-->
	<link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/google/googlecss.css"
    <link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/other/bootstrap.css">
    <link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/style.css">
	<link href="/mysite/public/static/picshakesite/assets/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/animate.min.css">
    <link rel="stylesheet" href="/mysite/public/static/picshakesite/assets/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="/mysite/public/static/picshakesite/assets/js/html5shiv.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="loader">
      <div class="fading-line"></div>
    </div>
    <section id="home" class="page">
      <div class="container">
        <div class="content cover text-center">
          <div class="row">
            <div class="col-lg-12">
              <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300"><img border="0" src="/mysite/public/static/picshakesite/assets\img\pic2.png" width="150" height="150"></h1>
			  <h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">PicShake</h1>
              <a class="btn btn-blue nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="#services">Find more</a>
              <h3 class="animated hiding" data-animation="fadeIn" data-delay="600">Photo Sharing Just Got Easier</h3>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div id="navbar-top">
      <nav class="navbar navbar-default navbar-static" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-external" href="#home">PicShake</a>
          </div>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="#home">Home</a>
              </li>
              <li>
                <a href="#work">Work</a>
              </li>
              <li>
                <a href="#clients">Clients</a>
              </li>
              <li>
                <a href="#about">About</a>
              </li>
              <li>
                <a href="#contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <section id="services" class="page">
      <div class="container">
        <div class="content text-center">
          <!--<div class="heading">
            <h2>What we love doing.</h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
          </div>-->
          <div class="row">
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="300">
              <i class="fa fa-camera fa-5x"></i>
              <h3><a href="#">Capture and Share</a></h3>
              <p>Capture those stunning moments of your life and share full size pictures without loosing picture quality.</p>
            </div>
			<div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="600">
              <i class="fa fa-mobile fa-5x"></i>
              <h3><a href="#">Shake Gesture</a></h3>
              <p>PicShake uses a simple and fun way to share pictures using phones shake gestures</p>
            </div>
            <div class="col-lg-4 service animated hiding" data-animation="fadeInUp" data-delay="900">
              <i class="fa fa-heart fa-5x"></i>
              <h3><a href="#">Crafted with Love</a></h3>
              <p>PicShake lets you share those beautiful moments that are captured with your beloved family and friends.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="work" class="page">
			<!-- ==== ABOUT ==== -->
		<div class="container">
		<div class="content text-center">
			<div class="row white">
			<br>
			<ul class="items list-unstyled clearfix animated hiding" data-animation="fadeInRight">
				<h1 class="centered">A LITTLE ABOUT PICSHAKE</h1>
				<h3 class="centered">PicShake is a mobile app that lets you share pictures with your friends and family using simple phone shake gestures</h3>
				<hr>
				
				<div class="col-lg-6 justfy" >
					<p>
					We believe that sharing pictures should always be fun and easy. PicShake shifts the responsibility of sending pictures from one person, to the whole group receiving those pictures. With our app, when a picture is taken it is uploaded to the cloud with a password you pick and your friends within 500 meters can download the picture directly to their phone by using that password. You do not need to create a group, tag people online, or even have their contact information. Your friends get the picture without you doing all the work. This will change the whole photo sharing experience.
					</p>
				</div><!-- col-lg-5 -->
				
				<div class="col-lg-6 justfy">
					<p>One other thing that makes PicShake unique is that most of the photo sharing apps on the market degrade the picture quality when it is shared. However, PicShake lets you share full size high quality pictures. What’s really neat about picshake is that if you upload several pictures with the same password and within the same range, you are essentially creating a private gallery. For instance you upload a picture and then your friend uploads another one with the same password. These two pictures get put together in a single gallery.</p>
				</div><!-- col-lg-5 -->
				</ul>
			</div><!-- row -->
			</div>
		</div><!-- container -->
		</section>
		<section class="section-divider textdivider divider1">
			<div class="container">
				<h1>Capture Those moments</h1>
				<hr>
				<p>A picture taken today is a lifetime of yesterdays preserved for all the tomorrows.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<div class="container">
		<div class="content text-center">
		<div class="row white animated hiding" data-animation="fadeInRight">
			<h2 class="centered">PICSHAKE FEATUERS</h2>
				<hr>
				<div class="col-lg-12">
				<ul class="items list-unstyled clearfix">
					<li><h4>You do not need to create a group, tag people, or even have their contact information to share pictures with them.</h4></li>
					<br>
					<li><h4>PicShake shifts the responsibility of sharing pictures from the sender to the receivers.</h4></li>
					<br>
					<li><h4>With PicShake you can capture and share full size pictrues without degrading or losing the picture quality.</h4></li>
					<br>
					<li><h4>PicShake lets the user send multiple pictures to multiple people at once.</h4></li>
					<br>
				<ul>
				</div><!-- col-lg -->
			<br>
			<br>
			</div>
			<br>
			<br>
			<hr>
			<div class="row white">
				<h2 class="centered">SIMPLE, ELEGANT, BEAUTIFUL AND FUN.</h2>
				<br>
				<br>
				<div class="col-lg-offset-2 col-lg-9">
					<img class="img-responsive" src="/mysite/public/static/picshakesite/assets/img/iphone.png" alt="">
				</div><!-- col -->
			
			</div>
			</div>
		</div><!-- container -->
				<!-- ==== SECTION DIVIDER2 -->
		<section class="section-divider textdivider divider2">
			<div class="container">
				<h1>DESIGN IS AN INTERACTION</h1>
				<hr>
				<p>To develop a deeper and more meaningful connection with consumers, we believe design must invite them to take part in the conversation.</p>
			</div><!-- container -->
		</section><!-- section -->
		
		<section id="security" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="row">
            <div class=" animated hiding" data-animation="fadeInUp" data-delay="300">
			<div class="col-lg-8 centered">
				<img class="img-responsive" src="/mysite/public/static/picshakesite/assets/img/macbook.png" align="">
				</div>
				<div class="col-lg-4">
				<h2>SECURITY!</h2>
				<h4>We have taken alot of security measures to make the app secure and protect your pictures. Photos can be downloaded only by people who know the passcode and who are located within 500 meters from the sender. Communication with servers is encreypted and encoded. Pictures are automatically erased and deleted from the server within 24 hours. which means that users can only download the shared pictures within 24 hours from the upload time. </h4>
				</div>
            </div>
          </div>
        </div>
      </div>
    </section>
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>This is how we do it.</h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, alias enim placeat earum quos ab.</p>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="portfolio">
                <ul class="filters list-inline">
                  <li>
                    <a class="active" data-filter="*" href="#">All</a>
                  </li>
                  <li>
                    <a data-filter=".photography" href="#">Photography</a>
                  </li>
                  <li>
                    <a data-filter=".branding" href="#">Branding</a>
                  </li>
                  <li>
                    <a data-filter=".web" href="#">Web</a>
                  </li>
                </ul>
                <ul class="items list-unstyled clearfix animated hiding" data-animation="fadeInRight">
                  <li class="item branding">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/1.jpg" alt="">
                      <div class="overlay">
                        <span>Etiam porta</span>
                      </div>
                    </a>
                  </li>
                  <li class="item photography">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/2.jpg" alt="">
                      <div class="overlay">
                        <span>Lorem ipsum</span>
                      </div>
                    </a>
                  </li>
                  <li class="item branding">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/3.jpg" alt="">
                      <div class="overlay">
                        <span>Vivamus quis</span>
                      </div>
                    </a>
                  </li>
                  <li class="item photography">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/4.jpg" alt="">
                      <div class="overlay">
                        <span>Donec ac tellus</span>
                      </div>
                    </a>
                  </li>
                  <li class="item photography">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/5.jpg" alt="">
                      <div class="overlay">
                        <span>Etiam volutpat</span>
                      </div>
                    </a>
                  </li>
                  <li class="item web">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/6.jpg" alt="">
                      <div class="overlay">
                        <span>Donec congue </span>
                      </div>
                    </a>
                  </li>
                  <li class="item photography">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/7.jpg" alt="">
                      <div class="overlay">
                        <span>Nullam a ullamcorper diam</span>
                      </div>
                    </a>
                  </li>
                  <li class="item web">
                    <a href="#">
                      <img src="/mysite/public/static/picshakesite/assets/img/work/8.jpg" alt="">
                      <div class="overlay">
                        <span>Etiam consequat</span>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
	
    <section id="clients" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="row">
            <div class="col-lg-12 animated hiding" data-animation="fadeInDown">
              <div id="testimonials" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                  <li data-target="#testimonials" data-slide-to="1" class=""></li>
                  <li data-target="#testimonials" data-slide-to="2" class=""></li>
                  <li data-target="#testimonials" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <p class="quote">Quisque convallis diam ligula, ac accumsan eros pretium vel. Curabitur convallis nibh sit amet iaculis ornare. Integer blandit quis diam sed tincidunt.</p>
                    <p class="client">John Doe / CEO</p>
                  </div>
                  <div class="item">
                    <p class="quote">Vestibulum volutpat accumsan sem non eleifend. Vivamus pretium nisi semper sapien eleifend, vel lacinia lacus sodales. Morbi bibendum purus at leo laoreet, vel ultricies orci viverra.</p>
                    <p class="client">Jorginho Jian / Developer</p>
                  </div>
                  <div class="item">
                    <p class="quote">Curabitur in nulla et lorem varius convallis. Morbi bibendum purus at leo laoreet, vel ultricies orci viverra. Duis quis accumsan urna. Nulla faucibus mauris elit, vitae tristique nisi sollicitudin ut.</p>
                    <p class="client">Gandalf Kadir / Web Designer</p>
                  </div>
                  <div class="item">
                    <p class="quote">Nullam vel tempor quam, id dictum eros. Nam augue sem, aliquam ac mauris in, pharetra convallis quam. Nulla faucibus mauris elit, vitae tristique nisi sollicitudin ut. Vivamus pretium nisi semper sapien eleifend.</p>
                    <p class="client">Homeros Yehudi / QA Engineer</p>
                  </div>
                </div>
                <a class="left carousel-control" data-slide="prev" href="#testimonials">&lsaquo;</a>
                <a class="right carousel-control" data-slide="next" href="#testimonials">&rsaquo;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>About Us.</h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute irure dolor.</p>
          </div>
          <div class="row">
		  <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
		  <!--this is added only to push the team members to the middle-->
		  </div>
            <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInLeft" data-delay="600">
              <div class="photo-rounded">
                <img class="img-responsive" src="/mysite/public/static/picshakesite/assets/img/team/1.jpg" alt="">
              </div>
              <div class="bio">
                <h4>John Doe</h4>
                <h5>Web Developer</h5>
                <div class="border"></div>
                <p>Lorem ipsum dolor sit, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore.</p>
                <ul class="list-inline">
                  <li>
                    <a href="http://www.facebook.com" title="Facebook">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.twitter.com" title="Twitter">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.linkedin.com" title="LinkedIn">
                      <i class="fa fa-linkedin"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.github.com" title="GitHub">
                      <i class="fa fa-github"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInUp" data-delay="300">
              <div class="photo-rounded">
                <img class="img-responsive" src="/mysite/public/static/picshakesite/assets/img/team/2.jpg" alt="">
              </div>
              <div class="bio">
                <h4>Clarinda Gratia</h4>
                <h5>Designer</h5>
                <div class="border"></div>
                <p>Lorem ipsum dolor sit, consetetur sadipscing elitr, diam nonumy eirmod tempor invidunt ut labore.</p>
                <ul class="list-inline">
                  <li>
                    <a href="http://www.dribbble.com" title="Dribbble">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.pinterest.com" title="Pinterest">
                      <i class="fa fa-pinterest"></i>
                    </a>
                  </li>
                  <li>
                    <a href="http://www.instagram.com" title="Instagram">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="twitter text-center">
        <div class="animated hiding" data-animation="fadeIn">
          <i class="fa fa-twitter fa-3x"></i>
          <div id="feed"></div>
        </div>
      </div>
    </section>
    <section id="contact" class="page">
      <div class="container">
        <div class="content cover text-center">
          <div class="heading">
            <h2>Getting in touch.</h2>
            <div class="border"></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          </div>
          <div class="row">
            <div class="col-lg-4 animated hiding" data-animation="fadeInRight" data-delay="600">
              <i class="fa fa-map-marker fa-3x"></i>
              <a href="#">Mostar, Bosnia and Herzegovina</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInDown" data-delay="300">
              <i class="fa fa-phone fa-3x"></i>
              <a href="tel:9876543210">(987) 654-3210</a>
            </div>
            <div class="col-lg-4 animated hiding" data-animation="fadeInLeft" data-delay="600">
              <i class="fa fa-envelope fa-3x"></i>
              <a href="mailto:john.doe@mail.com">john.doe@mail.com</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 animated hiding" data-animation="fadeInUp">
            <ul class="social list-inline ">
              <li>
                <a class="facebook" href="http://www.facebook.com" title="Facebook">
                  <i class="fa fa-facebook fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="twitter" href="http://www.twitter.com" title="Twitter">
                  <i class="fa fa-twitter fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="google-plus" href="http://www.plus.google.com" title="Google+">
                  <i class="fa fa-google-plus fa-2x"></i>
                </a>
              </li>
              <li>
                <a class="dribbble" href="http://www.linkedin.com" title="Dribbble">
                  <i class="fa fa-dribbble fa-2x"></i>
                </a>
              </li>
            </ul>       
          </div>
        </div>
      </div>
    </footer>
    <script src="/mysite/public/static/picshakesite/assets/js/jquery.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/bootstrap.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/isotope.pkgd.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/imagesloaded.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/jquery.nav.min.js"></script>
    <script src="/mysite/public/static/picshakesite/assets/js/jquery.appear.min.js"></script>
    <!--<script src="/mysite/public/static/picshakesite/assets/js/twitterFetcher.min.js"></script>-->
    <script src="/mysite/public/static/picshakesite/assets/js/script.js"></script>
    
  </body>
</html>